html {
  font-size: 20px;
  min-width: 400px;
  scroll-behavior: smooth;
  max-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  margin-right: 5px;
  margin-left: 15px;
  /* min-height: 100vh; */
}

header div{
  text-align: center;
}

.cabecera {
  margin: auto;
  width: 40%;
  height: auto;
}

.grupo{
  text-align: center;
  color: goldenrod;
}

textarea{
  width: 90vw;
  margin: auto;
}

.tipos div{
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.contenedor{
  border: solid gold 1px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 10px;
}

.comentarios{
  display: flex;
  padding: 5px 0;
  justify-content: center;
}

.enviar{
  text-align: center;
}

#enviar{
  height: 5vh;
  background-color: goldenrod;
  color: rgb(30, 30, 30);
  margin: auto;
  font-size: 1.2em;
  border-radius: 6px;
}

.print{
  display: none;
  background-color: rgb(155, 155, 155);
  position: fixed;
  left: 10vw;
  top:10vh;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
}

.print h2{
  margin-top: 10px;
  text-align: center;
}

.mostrar{
  display: block;
}

.imprimir{
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: calc(40vw - 50px);
}

.pedidos{
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10vh; */
}

.uno{
  width:60%
}
.print>div p{
  /* width: 50%; */
  text-align: left;
  padding-left: 5%;
}

.coment{
  margin-top: 5vh;
}